.DS_Store
_to_delete/
assets/hero.mp4
assets/img/bar-bartender.jpg
assets/img/bar-signatur.jpg
assets/img/group-7.jpg
assets/img/karaoke-17.jpg
assets/img/karaoke-poster.jpg
assets/img/rest-45.jpg
rest.jpg
mat.jpg
